# ignore build output directory
target

# ignore eclipse configuration files
.classpath
.project
.settings/

# ignore Intellij IDEA configuration files
.idea
*.iml

#ignore patches files
*.patch

#ignore backup files
*~
\#*\#
